@charset "UTF-8";
@font-face {
  font-family: "Titillium web";
  src: url(Titillium_Web/TitilliumWeb-Regular.ttf);
}
@media only screen and (max-width: 576px) {
  header {
    background-color: white;
  }
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  /* Stylování tlačítka, které slouží k otevření rozbalovacího menu */
  .dropbtn {
    padding: 6px;
    border: none;
    cursor: pointer;
    background-color: rgb(196, 0, 0);
  }
  /* Stylování obsahu rozbalovacího menu (výchozí stav je skrytý) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
  }
  /* Stylování odkazů uvnitř rozbalovacího menu */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* Změna barvy odkazů po najetí myší */
  .dropdown-content a:hover {
    background-color: rgb(196, 0, 0);
  }
  /* Zobrazení menu po kliknutí */
  .dropdown.clicked .dropdown-content {
    display: block;
  }
  i {
    font-size: 25px;
    color: #f1f1f1;
  }
}
@media only screen and (min-width: 576px) {
  header {
    background-color: white;
  }
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  nav {
    text-align: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    display: block;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  nav button {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  header {
    background-color: white;
  }
  .center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 60px;
  }
  nav {
    text-align: center;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    display: block;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  nav button {
    display: none;
  }
}
body {
  background-color: white;
  margin: 0px;
}

body {
  font-family: "Titillium web";
}
body header img {
  padding: 10px;
}

nav {
  background-color: rgb(196, 0, 0);
}

aside {
  background-color: black;
  color: orange;
  width: 22%;
}

* {
  box-sizing: border-box;
}
footer div {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  footer p {
    margin-top: 10px;
    color: #f1f1f1;
    display: inline-block;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: #f1f1f1;
  }
  footer
  {
    background-color: rgb(196, 0, 0);
    padding: 20px;
  }
  footer div a img 
  {
    background-color: rgb(196, 0, 0);
    height: 3rem;
    width: 10rem;
    margin-top: 10px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }